In [88]:
import pymysql
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

In [ ]:
# let's build a connection to the table

pass_w = getpass("Please enter your password: ")

In [85]:
dbName = "TED_talks"
connectionData=f"mysql+pymysql://root:{pass_w}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

Engine(mysql+pymysql://root:***@localhost/TED_talks)

In [86]:
# Add data to an SQL table - item by item

# build the connection
connection = pymysql.connect(host='localhost',
                             user='root',
                             password=pass_w,
                             db='TED_talks')

cursor=connection.cursor()

In [87]:
#getting TED talks from 2006 - 2020
ted_df=pd.read_csv('data/ted_talks_en.csv')
ted_df

,talk_id,title,speaker_1,all_speakers,occupations,about_speakers,views,recorded_date,published_date,event,native_lang,available_lang,comments,duration,topics,related_talks,url,description,transcript
0,1,Averting the climate crisis,Al Gore,{0: 'Al Gore'},{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,3523392,2006-02-25,2006-06-27,TED2006,en,"['ar', 'bg', 'cs', 'de', 'el', 'en', 'es', 'fa...",272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre..."
1,92,The best stats you've ever seen,Hans Rosling,{0: 'Hans Rosling'},{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",14501685,2006-02-22,2006-06-27,TED2006,en,"['ar', 'az', 'bg', 'bn', 'bs', 'cs', 'da', 'de...",628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac..."
2,7,Simplicity sells,David Pogue,{0: 'David Pogue'},{0: ['technology columnist']},{0: 'David Pogue is the personal technology co...,1920832,2006-02-24,2006-06-27,TED2006,en,"['ar', 'bg', 'de', 'el', 'en', 'es', 'fa', 'fr...",124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,53,Greening the ghetto,Majora Carter,{0: 'Majora Carter'},{0: ['activist for environmental justice']},{0: 'Majora Carter redefined the field of envi...,2664069,2006-02-26,2006-06-27,TED2006,en,"['ar', 'bg', 'bn', 'ca', 'cs', 'de', 'en', 'es...",219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...
4,66,Do schools kill creativity?,Sir Ken Robinson,{0: 'Sir Ken Robinson'},"{0: ['author', 'educator']}","{0: ""Creativity expert Sir Ken Robinson challe...",65051954,2006-02-25,2006-06-27,TED2006,en,"['af', 'ar', 'az', 'be', 'bg', 'bn', 'ca', 'cs...",4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,62678,"Crisis support for the world, one text away",Nancy Lublin,{0: 'Nancy Lublin'},{0: ['health activist']},"{0: 'Nancy Lublin, cofounder and CEO of Crisis...",502934,2020-04-22,2020-04-27,TED2020: The Prequel,en,['en'],6.0,690,"['activism', 'data', 'technology', 'mental hea...",{2362: 'How data from a crisis text line is sa...,https://www.ted.com/talks/nancy_lublin_crisis_...,What if we could help people in crisis anytime...,"""I'm 14, and I want to go home."" ""My name is B..."
4001,62782,The dark history of IQ tests,Stefan C Dombrowski,{0: 'Stefan C Dombrowski'},NaN,NaN,307187,2020-04-27,2020-04-27,TED-Ed,en,"['en', 'es', 'my', 'pt-br']",NaN,346,"['TED-Ed', 'education', 'history', 'animation'...",{35386: 'How does the Rorschach inkblot test w...,https://www.ted.com/talks/stefan_c_dombrowski_...,"In 1905, psychologists Alfred Binet and Théodo...","In 1905, psychologists Alfred Binet and Théodo..."
4002,62263,"How ""policing for profit"" undermines your rights",Dick M. Carpenter II,{0: 'Dick M. Carpenter II'},{0: ['law researcher']},{0: 'Dick M. Carpenter II studies cutting edge...,464414,2019-06-22,2020-04-28,TEDxMileHigh,en,['en'],9.0,774,"['society', 'law', 'policy', 'justice system',...","{2406: 'I love being a police officer, but we ...",https://www.ted.com/talks/dick_m_carpenter_ii_...,"Many countries have an active, centuries-old l...",Picture yourself driving down the road tomorro...
4003,62784,The electrifying speeches of Sojourner Truth,Daina Ramey Berry,{0: 'Daina Ramey Berry'},NaN,NaN,56582,2020-04-28,2020-04-30,TED-Ed,en,['en'],NaN,257,"['TED-Ed', 'education', 'animation', 'United S...",{20973: 'The breathtaking courage of Harriet T...,https://www.ted.com/talks/daina_ramey_berry_th...,Isabella Baumfree was born into slavery in lat...,"In early 1828, Sojourner Truth approached the ..."
4004,62794,The most important anus in the ocean,Cella Wright,{0: 'Cella Wright'},NaN,NaN,0,2020-04-30,2020-04-30,TED-Ed,en,['en'],NaN,281,"['animals', 'TED-Ed', 'animation', 'oceans', '...","{62347: 'The bug that poops candy', 29159: 'In...",https://www.ted.com/talks/cella_wright_the_mos...,Is it a fuzzy sock? An overripe banana? A mold...,Can you guess what you’re looking at? Is it a ...

In [31]:
ted_df.columns

Index(['talk_id', 'title', 'speaker_1', 'all_speakers', 'occupations',
       'about_speakers', 'views', 'recorded_date', 'published_date', 'event',
       'native_lang', 'available_lang', 'comments', 'duration', 'topics',
       'related_talks', 'url', 'description', 'transcript'],
      dtype='object')

In [32]:
#extract year from date
ted_df['published_date'] = ted_df['published_date'].str.extract('(\d{4})', expand=True)

In [33]:
#rename columns
ted_df.rename(columns = {'published_date':'year','speaker_1':'speaker','occupations':'occupation','about_speakers':'about_speaker','native_lang':'language'}, inplace = True)

In [34]:
ted_df.columns

Index(['talk_id', 'title', 'speaker', 'all_speakers', 'occupation',
       'about_speaker', 'views', 'recorded_date', 'year', 'event', 'language',
       'available_lang', 'comments', 'duration', 'topics', 'related_talks',
       'url', 'description', 'transcript'],
      dtype='object')

In [35]:
#poping columns with data that I wont use
def pop_column(df):
    df.pop("talk_id")
    df.pop("event")
    df.pop("all_speakers")
    df.pop("available_lang")
    df.pop("recorded_date")

In [36]:
pop_column(ted_df)

In [37]:
ted_author = ted_df[['speaker', 'occupation', 'about_speaker', 'language']]
ted_author

,speaker,occupation,about_speaker,language
0,Al Gore,{0: ['climate advocate']},{0: 'Nobel Laureate Al Gore focused the world’...,en
1,Hans Rosling,{0: ['global health expert; data visionary']},"{0: 'In Hans Rosling’s hands, data sings. Glob...",en
2,David Pogue,{0: ['technology columnist']},{0: 'David Pogue is the personal technology co...,en
3,Majora Carter,{0: ['activist for environmental justice']},{0: 'Majora Carter redefined the field of envi...,en
4,Sir Ken Robinson,"{0: ['author', 'educator']}","{0: ""Creativity expert Sir Ken Robinson challe...",en
...,...,...,...,...
4000,Nancy Lublin,{0: ['health activist']},"{0: 'Nancy Lublin, cofounder and CEO of Crisis...",en
4001,Stefan C Dombrowski,NaN,NaN,en
4002,Dick M. Carpenter II,{0: ['law researcher']},{0: 'Dick M. Carpenter II studies cutting edge...,en
4003,Daina Ramey Berry,NaN,NaN,en
4004,Cella Wright,NaN,NaN,en

In [38]:
ted_df.columns

Index(['title', 'speaker', 'occupation', 'about_speaker', 'views', 'year',
       'language', 'comments', 'duration', 'topics', 'related_talks', 'url',
       'description', 'transcript'],
      dtype='object')

In [39]:
ted_talk = ted_df[['title', 'year', 'views', 'comments','duration','topics','related_talks','url',
       'description', 'transcript']]
ted_talk

,title,year,views,comments,duration,topics,related_talks,url,description,transcript
0,Averting the climate crisis,2006,3523392,272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre..."
1,The best stats you've ever seen,2006,14501685,628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac..."
2,Simplicity sells,2006,1920832,124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,Greening the ghetto,2006,2664069,219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...
4,Do schools kill creativity?,2006,65051954,4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...
...,...,...,...,...,...,...,...,...,...,...
4000,"Crisis support for the world, one text away",2020,502934,6.0,690,"['activism', 'data', 'technology', 'mental hea...",{2362: 'How data from a crisis text line is sa...,https://www.ted.com/talks/nancy_lublin_crisis_...,What if we could help people in crisis anytime...,"""I'm 14, and I want to go home."" ""My name is B..."
4001,The dark history of IQ tests,2020,307187,NaN,346,"['TED-Ed', 'education', 'history', 'animation'...",{35386: 'How does the Rorschach inkblot test w...,https://www.ted.com/talks/stefan_c_dombrowski_...,"In 1905, psychologists Alfred Binet and Théodo...","In 1905, psychologists Alfred Binet and Théodo..."
4002,"How ""policing for profit"" undermines your rights",2020,464414,9.0,774,"['society', 'law', 'policy', 'justice system',...","{2406: 'I love being a police officer, but we ...",https://www.ted.com/talks/dick_m_carpenter_ii_...,"Many countries have an active, centuries-old l...",Picture yourself driving down the road tomorro...
4003,The electrifying speeches of Sojourner Truth,2020,56582,NaN,257,"['TED-Ed', 'education', 'animation', 'United S...",{20973: 'The breathtaking courage of Harriet T...,https://www.ted.com/talks/daina_ramey_berry_th...,Isabella Baumfree was born into slavery in lat...,"In early 1828, Sojourner Truth approached the ..."
4004,The most important anus in the ocean,2020,0,NaN,281,"['animals', 'TED-Ed', 'animation', 'oceans', '...","{62347: 'The bug that poops candy', 29159: 'In...",https://www.ted.com/talks/cella_wright_the_mos...,Is it a fuzzy sock? An overripe banana? A mold...,Can you guess what you’re looking at? Is it a ...

In [40]:
def export_csv (df):
    df.to_csv('data/Speaker.csv',index=False)

In [41]:
export_csv (ted_author)

In [42]:
def export_csv (df):
    df.to_csv('data/Talk.csv',index=False)

In [43]:
export_csv (ted_talk)

In [16]:
ted_author.to_sql('Speaker', con=engine, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'speaker.PRIMARY'")
[SQL: INSERT INTO `Speaker` (`index`, speaker, occupation, about_speaker, language) VALUES (%(index)s, %(speaker)s, %(occupation)s, %(about_speaker)s, %(language)s)]
[parameters: ({'index': 0, 'speaker': 'Al Gore', 'occupation': "{0: ['climate advocate']}", 'about_speaker': "{0: 'Nobel Laureate Al Gore focused the world’s attention on the global climate crisis. Now he’s showing us how we’re moving towards real solutions.\\r\\n'}", 'language': 'en'}, {'index': 1, 'speaker': 'Hans Rosling', 'occupation': "{0: ['global health expert; data visionary']}", 'about_speaker': "{0: 'In Hans Rosling’s hands, data sings. Global trends in health and economics come to vivid life. And the big picture of global development -- with some surprisingly good news -- snaps into sharp focus.'}", 'language': 'en'}, {'index': 2, 'speaker': 'David Pogue', 'occupation': "{0: ['technology columnist']}", 'about_speaker': '{0: \'David Pogue is the personal technology columnist for the <em>New York Times</em> and a tech correspondent for CBS News. He\\\'s also one of the world\\\'s bestselling how-to authors, with titles in the For Dummies series and his own line of "Missing Manual" books. \'}', 'language': 'en'}, {'index': 3, 'speaker': 'Majora Carter', 'occupation': "{0: ['activist for environmental justice']}", 'about_speaker': "{0: 'Majora Carter redefined the field of environmental equality, starting in the South Bronx at the turn of the century.  Now she is leading the local economic development movement across the USA.'}", 'language': 'en'}, {'index': 4, 'speaker': 'Sir Ken Robinson', 'occupation': "{0: ['author', 'educator']}", 'about_speaker': '{0: "Creativity expert Sir Ken Robinson challenges the way we\'re educating our children. He champions a radical rethink of our school systems, to cultivate creativity and acknowledge multiple types of intelligence. "}', 'language': 'en'}, {'index': 5, 'speaker': 'Joshua Prince-Ramus', 'occupation': "{0: ['architect']}", 'about_speaker': "{0: 'Joshua Prince-Ramus is best known as architect of the Seattle Central Library, already being hailed as a masterpiece of contemporary culture. Pr ... (63 characters truncated) ... n affiliate of the Office for Metropolitan Architecture (OMA) in the Netherlands—and served as its Principal until he renamed the firm REX in 2006.'}", 'language': 'en'}, {'index': 6, 'speaker': 'Julia Sweeney', 'occupation': "{0: ['actor', 'comedian', 'playwright']}", 'about_speaker': "{0: 'Julia Sweeney creates comedic works that tackle deep issues like cancer, family and faith.'}", 'language': 'en'}, {'index': 7, 'speaker': 'Dan Dennett', 'occupation': "{0: ['philosopher', 'cognitive scientist']}", 'about_speaker': "{0: 'Dan Dennett thinks that human consciousness and free will are the result of physical processes.'}", 'language': 'en'}  ... displaying 10 of 4005 total bound parameter sets ...  {'index': 4003, 'speaker': 'Daina Ramey Berry', 'occupation': None, 'about_speaker': None, 'language': 'en'}, {'index': 4004, 'speaker': 'Cella Wright', 'occupation': None, 'about_speaker': None, 'language': 'en'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [21]:
ted_talk.to_sql('Talk', con=engine, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'talk.PRIMARY'")
[SQL: INSERT INTO `Talk` (`index`, title, year, views, comments, duration, topics, related_talks, url, description, transcript) VALUES (%(index)s, %(title)s, %(year)s, %(views)s, %(comments)s, %(duration)s, %(topics)s, %(related_talks)s, %(url)s, %(description)s, %(transcript)s)]
[parameters: ({'index': 0, 'title': 'Averting the climate crisis', 'year': '2006', 'views': 3523392, 'comments': 272.0, 'duration': 977, 'topics': "['alternative energy', 'cars', 'climate change', 'culture', 'environment', 'global issues', 'science', 'sustainability', 'technology']", 'related_talks': '{243: \'New thinking on the climate crisis\', 547: \'The business logic of sustainability\', 2093: \'The state of the climate — and what we might do  ... (56 characters truncated) ... \', 29968: \'The most important thing you can do to fight climate change: talk about it\', 2339: "Climate change is happening. Here\'s how we adapt"}', 'url': 'https://www.ted.com/talks/al_gore_averting_the_climate_crisis/', 'description': 'With the same humor and humanity he exuded in "An Inconvenient Truth," Al Gore spells out 15 ways that individuals can address climate change immediately, from buying a hybrid to inventing a new, hotter brand name for global warming.', 'transcript': 'Thank you so much, Chris. And it\'s truly a great honor to have the opportunity to come to this stage twice; I\'m extremely grateful. I have been blo ... (11643 characters truncated) ... ot just this, but connected to the ideas that are here, to bring more coherence to them. We are one. Thank you very much, I appreciate it. (Applause)'}, {'index': 1, 'title': "The best stats you've ever seen", 'year': '2006', 'views': 14501685, 'comments': 628.0, 'duration': 1190, 'topics': "['Africa', 'Asia', 'Google', 'demo', 'economics', 'global issues', 'health', 'statistics', 'global development', 'visualizations', 'math']", 'related_talks': '{2056: "Own your body\'s data", 2296: \'A visual history of human knowledge\', 620: \'Let my dataset change your mindset\', 2806: "Doesn\'t everyone deserve a chance at a good life?", 2560: \'How Africa can keep rising\', 1418: "Let\'s put birth control back on the agenda"}', 'url': 'https://www.ted.com/talks/hans_rosling_the_best_stats_you_ve_ever_seen/', 'description': 'You\'ve never seen data presented like this. With the drama and urgency of a sportscaster, statistics guru Hans Rosling debunks myths about the so-called "developing world."', 'transcript': 'About 10 years ago, I took on the task to teach global development to Swedish undergraduate students. That was after having spent about 20 years, tog ... (17225 characters truncated) ... ery interesting to follow this over the year, as I would like you to be able to do with all the publicly funded data. Thank you very much. (Applause)'}, {'index': 2, 'title': 'Simplicity sells', 'year': '2006', 'views': 1920832, 'comments': 124.0, 'duration': 1286, 'topics': "['computers', 'entertainment', 'interface design', 'media', 'music', 'performance', 'simplicity', 'software', 'technology']", 'related_talks': "{1725: '10 top time-saving tech tips', 2274: 'The first secret of design is ... noticing', 172: 'Designing for simplicity', 2664: 'Meet the inventor of the electronic spreadsheet', 2464: 'The mind behind Linux', 1347: 'The secret structure of great talks'}", 'url': 'https://www.ted.com/talks/david_pogue_simplicity_sells/', 'description': 'New York Times columnist David Pogue takes aim at technology’s worst interface-design offenders, and provides encouraging examples of products that get it right. To funny things up, he bursts into song.', 'transcript': '(Music: "The Sound of Silence," Simon & Garfunkel) Hello voice mail, my old friend. (Laughter) I\'ve called for tech support again. I ignored my boss ... (18290 characters truncated) ... \'s deciding what to leave out. And best of all, your motivation is: simplicity sells. CA: Bravo. DP: Thank you very much. CA: Hear, hear! (Applause)'}, {'index': 3, 'title': 'Greening the ghetto', 'year': '2006', 'views': 2664069, 'comments': 219.0, 'duration': 1116, 'topics': "['MacArthur grant', 'activism', 'business', 'cities', 'environment', 'green', 'inequality', 'politics', 'pollution']", 'related_talks': '{1041: \'3 stories of local eco-entrepreneurship\', 1892: \'A new vision for rebuilding Detroit\', 2078: \'A park underneath the hustle and bustle of ... (94 characters truncated) ... : \'My $500 house in Detroit -- and the neighbors who helped me rebuild it\', 3581: "A Republican mayor\'s plan to replace partisanship with policy"}', 'url': 'https://www.ted.com/talks/majora_carter_greening_the_ghetto/', 'description': 'In an emotionally charged talk, MacArthur-winning activist Majora Carter details her fight for environmental justice in the South Bronx -- and shows how minority neighborhoods suffer most from flawed urban policy.', 'transcript': 'If you\'re here today — and I\'m very happy that you are — you\'ve all heard about how sustainable development will save us from ourselves. However,  ... (18078 characters truncated) ... tations in life, but believe me, we all share one incredibly powerful thing. We have nothing to lose and everything to gain. Ciao, bellos! (Applause)'}, {'index': 4, 'title': 'Do schools kill creativity?', 'year': '2006', 'views': 65051954, 'comments': 4931.0, 'duration': 1164, 'topics': "['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']", 'related_talks': '{865: \'Bring on the learning revolution!\', 1738: "How to escape education\'s death valley", 2276: \'How to fix a broken school? Lead fearlessly, lo ... (10 characters truncated) ...  2182: \'How to run a company with (almost) no rules\', 2341: "Why some of us don\'t have one true calling", 9048: \'The search for "aha!" moments\'}', 'url': 'https://www.ted.com/talks/sir_ken_robinson_do_schools_kill_creativity/', 'description': 'Sir Ken Robinson makes an entertaining and profoundly moving case for creating an education system that nurtures (rather than undermines) creativity.', 'transcript': 'Good morning. How are you? (Audience) Good. It\'s been great, hasn\'t it? I\'ve been blown away by the whole thing. In fact, I\'m leaving. (Laughter) ... (17393 characters truncated) ... his future. By the way — we may not see this future, but they will. And our job is to help them make something of it. Thank you very much. (Applause)'}, {'index': 5, 'title': "Behind the design of Seattle's library", 'year': '2006', 'views': 1208138, 'comments': 48.0, 'duration': 1198, 'topics': "['architecture', 'collaboration', 'culture', 'design', 'library']", 'related_talks': "{750: 'Building a theater that remakes itself', 2092: 'How to reinvent the apartment building', 2183: 'Why the buildings of the future will be shaped ... (52 characters truncated) ... ith imagination, beauty and art', 2375: 'Why great architecture should tell a story', 31821: 'Stunning buildings made from raw, imperfect materials'}", 'url': 'https://www.ted.com/talks/joshua_prince_ramus_behind_the_design_of_seattle_s_library/', 'description': 'Architect Joshua Prince-Ramus takes the audience on dazzling, dizzying virtual tours of three recent projects: the Central Library in Seattle, the Museum Plaza in Louisville and the Charles Wyly Theater in Dallas.', 'transcript': 'I\'m going to present three projects in rapid fire. I don\'t have much time to do it. And I want to reinforce three ideas with that rapid-fire presen ... (18429 characters truncated) ... ] [optimize tower dimensions] [place towers on site] [lift program] [flip!] [optimize program adjacencies] [connect to context] [redirect 7th street]'}, {'index': 6, 'title': 'Letting go of God', 'year': '2006', 'views': 4636596, 'comments': 980.0, 'duration': 992, 'topics': "['Christianity', 'God', 'atheism', 'comedy', 'culture', 'performance', 'religion', 'storytelling', 'humor']", 'related_talks': '{22: \'Why people believe weird things\', 94: "Let\'s teach religion -- all religion -- in schools", 856: \'It\\\'s time for "The Talk"\', 71: \'A life of purpose\', 2801: \'12 truths I learned from life and writing\', 31459: \'Embrace your raw, strange magic\'}', 'url': 'https://www.ted.com/talks/julia_sweeney_letting_go_of_god/', 'description': 'When two young Mormon missionaries knock on Julia Sweeney\'s door one day, it touches off a quest to completely rethink her own beliefs, in this excerpt from Sweeney\'s solo show "Letting Go of God."  ', 'transcript': 'On September 10, the morning of my seventh birthday, I came downstairs to the kitchen, where my mother was washing the dishes and my father was readi ... (15624 characters truncated) ... ed me that question with the word "believe" in it, somehow it was all different, because I wasn\'t exactly sure if I believed what I so clearly felt.'}, {'index': 7, 'title': "Let's teach religion -- all religion -- in schools", 'year': '2006', 'views': 3781244, 'comments': 919.0, 'duration': 1485, 'topics': "['God', 'atheism', 'brain', 'cognitive science', 'consciousness', 'evolution', 'philosophy', 'religion']", 'related_talks': '{71: \'A life of purpose\', 2011: \'Is religion good or bad? (This is a trick question)\', 234: \'My wish: The Charter for Compassion\', 113: \'Militant atheism\', 2643: "It\'s time to reclaim religion", 9125: \'My failed mission to find God -- and what I found instead\'}', 'url': 'https://www.ted.com/talks/dan_dennett_let_s_teach_religion_all_religion_in_schools/', 'description': 'Philosopher Dan Dennett calls for religion -- all religion -- to be taught in schools, so we can understand its nature as a natural phenomenon. Then he takes on The Purpose-Driven Life, disputing its claim that, to be moral, one must deny evolution.', 'transcript': 'It\'s wonderful to be back. I love this wonderful gathering. And you must be wondering, "What on earth? Have they put up the wrong slide?" No, no. Lo ... (19967 characters truncated) ... y instead of doing good works. So, I wish we could drop this meme. I wish this meme would go extinct. Thanks very much for your attention. (Applause)'}  ... displaying 10 of 4005 total bound parameter sets ...  {'index': 4003, 'title': 'The electrifying speeches of Sojourner Truth', 'year': '2020', 'views': 56582, 'comments': None, 'duration': 257, 'topics': "['TED-Ed', 'education', 'animation', 'United States', 'women', 'feminism', 'Slavery', 'race', 'history', 'activism', 'speech', 'war', 'religion', 'storytelling']", 'related_talks': '{20973: \'The breathtaking courage of Harriet Tubman\', 36408: "The historic women\'s suffrage march on Washington", 31780: \'How one journalist risk ... (51 characters truncated) ... \'A tale of two Americas. And the mini-mart where they collided\', 4873: \'Get comfortable with being uncomfortable\', 2451: \'The gospel of doubt\'}', 'url': 'https://www.ted.com/talks/daina_ramey_berry_the_electrifying_speeches_of_sojourner_truth/', 'description': 'Isabella Baumfree was born into slavery in late 18th century New York. Fleeing bondage with her youngest daughter, she renamed herself Sojourner Trut ... (171 characters truncated) ... es. Daina Ramey Berry details the life of the outspoken activist. [Directed by WOW-HOW Studio, narrated by Christina Greer, music by Stephen LaRosa].', 'transcript': 'In early 1828, Sojourner Truth approached the Grand Jury of Kingston, New York. She had no experience with the legal system, no money, and no power i ... (3715 characters truncated) ...  right to be heard in a hostile world. As Truth once said, “I feel safe even in the midst of my enemies; for the truth is powerful and will prevail."'}, {'index': 4004, 'title': 'The most important anus in the ocean', 'year': '2020', 'views': 0, 'comments': None, 'duration': 281, 'topics': "['animals', 'TED-Ed', 'animation', 'oceans', 'science', 'education', 'biology', 'climate change']", 'related_talks': '{62347: \'The bug that poops candy\', 29159: \'Inside the killer whale matriarchy\', 45539: \'How turtle shells evolved... twice\', 17733: "Let\'s turn the high seas into the world\'s largest nature reserve", 1011: \'Making law on the high seas\', 41226: \'The lovable (and lethal) sea lion\'}', 'url': 'https://www.ted.com/talks/cella_wright_the_most_important_anus_in_the_ocean/', 'description': "Is it a fuzzy sock? An overripe banana? A moldy tube of toothpaste? In fact, it's a humble sea cucumber: a brainless, fleshy form surrounding a diges ... (216 characters truncated) ... ese sausage-shaped wonders. [Directed by Guto BR, Flávia Godoy and Lívia Serri Francoio, narrated by Bethany Cutmore-Scott, music by Jarrett Farkas].", 'transcript': 'Can you guess what you’re looking at? Is it a fuzzy sock? An overripe banana? A moldy tube of toothpaste? In fact, this is the humble sea cucumber, a ... (3731 characters truncated) ... en your toes, consider this: those very grains of sand might have, at one point or another, been excreted by a pickle that breathes through its butt.'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [11]:
query = "SELECT * FROM Talk"
df = pd.read_sql_query(query, engine)
df

NameError: name 'engine' is not defined

In [12]:
df

,index,title,year,views,comments,duration,topics,related_talks,url,description,transcript
0,0,Averting the climate crisis,2006,3523392,272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre..."
1,1,The best stats you've ever seen,2006,14501685,628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac..."
2,2,Simplicity sells,2006,1920832,124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,3,Greening the ghetto,2006,2664069,219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...
4,4,Do schools kill creativity?,2006,65051954,4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...
...,...,...,...,...,...,...,...,...,...,...,...
4000,4000,"Crisis support for the world, one text away",2020,502934,6.0,690,"['activism', 'data', 'technology', 'mental hea...",{2362: 'How data from a crisis text line is sa...,https://www.ted.com/talks/nancy_lublin_crisis_...,What if we could help people in crisis anytime...,"""I'm 14, and I want to go home."" ""My name is B..."
4001,4001,The dark history of IQ tests,2020,307187,NaN,346,"['TED-Ed', 'education', 'history', 'animation'...",{35386: 'How does the Rorschach inkblot test w...,https://www.ted.com/talks/stefan_c_dombrowski_...,"In 1905, psychologists Alfred Binet and Théodo...","In 1905, psychologists Alfred Binet and Théodo..."
4002,4002,"How ""policing for profit"" undermines your rights",2020,464414,9.0,774,"['society', 'law', 'policy', 'justice system',...","{2406: 'I love being a police officer, but we ...",https://www.ted.com/talks/dick_m_carpenter_ii_...,"Many countries have an active, centuries-old l...",Picture yourself driving down the road tomorro...
4003,4003,The electrifying speeches of Sojourner Truth,2020,56582,NaN,257,"['TED-Ed', 'education', 'animation', 'United S...",{20973: 'The breathtaking courage of Harriet T...,https://www.ted.com/talks/daina_ramey_berry_th...,Isabella Baumfree was born into slavery in lat...,"In early 1828, Sojourner Truth approached the ..."
4004,4004,The most important anus in the ocean,2020,0,NaN,281,"['animals', 'TED-Ed', 'animation', 'oceans', '...","{62347: 'The bug that poops candy', 29159: 'In...",https://www.ted.com/talks/cella_wright_the_mos...,Is it a fuzzy sock? An overripe banana? A mold...,Can you guess what you’re looking at? Is it a ...

In [13]:
#column to analyze
column_nlp = 'description'

In [14]:
#print description
print(df.iloc[0][column_nlp])

With the same humor and humanity he exuded in "An Inconvenient Truth," Al Gore spells out 15 ways that individuals can address climate change immediately, from buying a hybrid to inventing a new, hotter brand name for global warming.

In [15]:
#print description as it was
as_it_was = df.iloc[0][column_nlp]
as_it_was

'With the same humor and humanity he exuded in "An Inconvenient Truth," Al Gore spells out 15 ways that individuals can address climate change immediately, from buying a hybrid to inventing a new, hotter brand name for global warming.'

## Preparing the dataset for NLP

In [16]:
# Data management
import pandas as pd
import string

# Databases
import sqlalchemy as alch
from getpass import getpass
from pymongo import MongoClient

# Languages
import re

import spacy
import es_core_news_sm

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords

from wordcloud import WordCloud
from langdetect import detect
from textblob import TextBlob

# Visualization
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
nlp = spacy.load("en_core_web_sm")
nlp

In [18]:
stop = nlp.Defaults.stop_words

In [19]:
#funcao lemma/tokenizer
def tokenizer(txt):
    try:
        if detect(txt) == "en":
            nlp = spacy.load("en_core_web_sm")
        elif detect(txt) == "es":
            nlp = spacy.load("es_core_news_sm") 
        else:
            return "Not english nor spanish"
    except:
        return "Not able to analyze"
    
    tokens = nlp(txt)
    filtered = []
    
    
    for token in tokens:
        if not token.is_stop:
            lemma = token.lemma_.lower().strip()
            if re.search('^[a-zA-Z]+$',lemma): # This will remove the question marks
                filtered.append(lemma)
    return " ".join(filtered)

In [20]:
#testing the function
tokenizer(as_it_was)

'humor humanity exude inconvenient truth al gore spell way individual address climate change immediately buy hybrid invent new hotter brand global warming'

In [21]:
#new column tokenizing description
#df["tokenized_des"] = df[column_nlp].apply(tokenizer)
#df

,index,title,year,views,comments,duration,topics,related_talks,url,description,transcript,tokenized_des
0,0,Averting the climate crisis,2006,3523392,272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre...",humor humanity exude inconvenient truth al gor...
1,1,The best stats you've ever seen,2006,14501685,628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac...",see datum present like drama urgency sportscas...
2,2,Simplicity sells,2006,1920832,124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun...",new york times columnist david pogue take aim ...
3,3,Greening the ghetto,2006,2664069,219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...,emotionally charge talk macarthur win activist...
4,4,Do schools kill creativity?,2006,65051954,4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...,sir ken robinson make entertaining profoundly ...
...,...,...,...,...,...,...,...,...,...,...,...,...
4000,4000,"Crisis support for the world, one text away",2020,502934,6.0,690,"['activism', 'data', 'technology', 'mental hea...",{2362: 'How data from a crisis text line is sa...,https://www.ted.com/talks/nancy_lublin_crisis_...,What if we could help people in crisis anytime...,"""I'm 14, and I want to go home."" ""My name is B...",help people crisis anytime simple text message...
4001,4001,The dark history of IQ tests,2020,307187,NaN,346,"['TED-Ed', 'education', 'history', 'animation'...",{35386: 'How does the Rorschach inkblot test w...,https://www.ted.com/talks/stefan_c_dombrowski_...,"In 1905, psychologists Alfred Binet and Théodo...","In 1905, psychologists Alfred Binet and Théodo...",psychologist alfred binet simon design test ch...
4002,4002,"How ""policing for profit"" undermines your rights",2020,464414,9.0,774,"['society', 'law', 'policy', 'justice system',...","{2406: 'I love being a police officer, but we ...",https://www.ted.com/talks/dick_m_carpenter_ii_...,"Many countries have an active, centuries-old l...",Picture yourself driving down the road tomorro...,country active century old law allow governmen...
4003,4003,The electrifying speeches of Sojourner Truth,2020,56582,NaN,257,"['TED-Ed', 'education', 'animation', 'United S...",{20973: 'The breathtaking courage of Harriet T...,https://www.ted.com/talks/daina_ramey_berry_th...,Isabella Baumfree was born into slavery in lat...,"In early 1828, Sojourner Truth approached the ...",isabella baumfree bear slavery late century ne...
4004,4004,The most important anus in the ocean,2020,0,NaN,281,"['animals', 'TED-Ed', 'animation', 'oceans', '...","{62347: 'The bug that poops candy', 29159: 'In...",https://www.ted.com/talks/cella_wright_the_mos...,Is it a fuzzy sock? An overripe banana? A mold...,Can you guess what you’re looking at? Is it a ...,fuzzy sock overripe banana moldy tube toothpas...

In [40]:
df['speaker'] = ted_author['speaker']

In [43]:
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/Juliana/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [44]:
sia = SentimentIntensityAnalyzer()

In [45]:
#
def sa_ (x):
    try:
        return sia.polarity_scores(x)
    except:
        return x

In [46]:
#compound - not to return a dictionary - nltk documentation
def sa (x):
    try:
        return sia.polarity_scores(x)["compound"]
    except:
        return x

In [53]:
#max value sentiment
max_= max(df.sentiment_value)
max_

0.9915

In [54]:
#min value sentiment
min_= min(df.sentiment_value)
min_

-0.9904

In [47]:
#predominant feeling - checar thresholds
def sentiment (x):
    if x >= 0.05:
        return "positive"
    elif x > -0.05 and x< 0.05:
        return "neutral"
    else:
        return "negative"

In [48]:
#creating sentiment value column
df["sentiments"] = df["tokenized_des"].apply(sa_)

In [49]:
#creating sentiment value column
df["sentiment_value"] = df["tokenized_des"].apply(sa)

In [50]:
#creating sentiment column
df["sentiment"] = df["sentiment_value"].apply(sentiment)

In [51]:
df

,index,title,year,views,comments,duration,topics,related_talks,url,description,transcript,tokenized_des,speaker,sentiments,sentiment_value,sentiment
0,0,Averting the climate crisis,2006,3523392,272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre...",humor humanity exude inconvenient truth al gor...,Al Gore,"{'neg': 0.091, 'neu': 0.682, 'pos': 0.227, 'co...",0.3818,positive
1,1,The best stats you've ever seen,2006,14501685,628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac...",see datum present like drama urgency sportscas...,Hans Rosling,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp...",0.3612,positive
2,2,Simplicity sells,2006,1920832,124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun...",new york times columnist david pogue take aim ...,David Pogue,"{'neg': 0.198, 'neu': 0.594, 'pos': 0.208, 'co...",0.0772,positive
3,3,Greening the ghetto,2006,2664069,219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...,emotionally charge talk macarthur win activist...,Majora Carter,"{'neg': 0.201, 'neu': 0.561, 'pos': 0.238, 'co...",0.2732,positive
4,4,Do schools kill creativity?,2006,65051954,4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...,sir ken robinson make entertaining profoundly ...,Sir Ken Robinson,"{'neg': 0.104, 'neu': 0.425, 'pos': 0.472, 'co...",0.7783,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,4000,"Crisis support for the world, one text away",2020,502934,6.0,690,"['activism', 'data', 'technology', 'mental hea...",{2362: 'How data from a crisis text line is sa...,https://www.ted.com/talks/nancy_lublin_crisis_...,What if we could help people in crisis anytime...,"""I'm 14, and I want to go home."" ""My name is B...",help people crisis anytime simple text message...,Nancy Lublin,"{'neg': 0.14, 'neu': 0.491, 'pos': 0.369, 'com...",0.9517,positive
4001,4001,The dark history of IQ tests,2020,307187,NaN,346,"['TED-Ed', 'education', 'history', 'animation'...",{35386: 'How does the Rorschach inkblot test w...,https://www.ted.com/talks/stefan_c_dombrowski_...,"In 1905, psychologists Alfred Binet and Théodo...","In 1905, psychologists Alfred Binet and Théodo...",psychologist alfred binet simon design test ch...,Stefan C Dombrowski,"{'neg': 0.049, 'neu': 0.826, 'pos': 0.125, 'co...",0.5574,positive
4002,4002,"How ""policing for profit"" undermines your rights",2020,464414,9.0,774,"['society', 'law', 'policy', 'justice system',...","{2406: 'I love being a police officer, but we ...",https://www.ted.com/talks/dick_m_carpenter_ii_...,"Many countries have an active, centuries-old l...",Picture yourself driving down the road tomorro...,country active century old law allow governmen...,Dick M. Carpenter II,"{'neg': 0.206, 'neu': 0.524, 'pos': 0.27, 'com...",0.3400,positive
4003,4003,The electrifying speeches of Sojourner Truth,2020,56582,NaN,257,"['TED-Ed', 'education', 'animation', 'United S...",{20973: 'The breathtaking courage of Harriet T...,https://www.ted.com/talks/daina_ramey_berry_th...,Isabella Baumfree was born into slavery in lat...,"In early 1828, Sojourner Truth approached the ...",isabella baumfree bear slavery late century ne...,Daina Ramey Berry,"{'neg': 0.088, 'neu': 0.75, 'pos': 0.163, 'com...",0.4767,positive
4004,4004,The most important anus in the ocean,2020,0,NaN,281,"['animals', 'TED-Ed', 'animation', 'oceans', '...","{62347: 'The bug that poops candy', 29159: 'In...",https://www.ted.com/talks/cella_wright_the_mos...,Is it a fuzzy sock? An overripe banana? A mold...,Can you guess what you’re looking at? Is it a ...,fuzzy sock overripe banana moldy tube toothpas...,Cella Wright,"{'neg': 0.044, 'neu': 0.956, 'pos': 0.0, 'comp...",-0.3182,negative

In [81]:
df.to_csv('data/TED.csv',index=False)

In [82]:
df

,index,title,year,views,comments,duration,topics,related_talks,url,description,transcript,tokenized_des,speaker,sentiments,sentiment_value,sentiment
0,0,Averting the climate crisis,2006,3523392,272.0,977,"['alternative energy', 'cars', 'climate change...","{243: 'New thinking on the climate crisis', 54...",https://www.ted.com/talks/al_gore_averting_the...,With the same humor and humanity he exuded in ...,"Thank you so much, Chris. And it's truly a gre...",humor humanity exude inconvenient truth al gor...,Al Gore,"{'neg': 0.091, 'neu': 0.682, 'pos': 0.227, 'co...",0.3818,positive
1,1,The best stats you've ever seen,2006,14501685,628.0,1190,"['Africa', 'Asia', 'Google', 'demo', 'economic...","{2056: ""Own your body's data"", 2296: 'A visual...",https://www.ted.com/talks/hans_rosling_the_bes...,You've never seen data presented like this. Wi...,"About 10 years ago, I took on the task to teac...",see datum present like drama urgency sportscas...,Hans Rosling,"{'neg': 0.0, 'neu': 0.857, 'pos': 0.143, 'comp...",0.3612,positive
2,2,Simplicity sells,2006,1920832,124.0,1286,"['computers', 'entertainment', 'interface desi...","{1725: '10 top time-saving tech tips', 2274: '...",https://www.ted.com/talks/david_pogue_simplici...,New York Times columnist David Pogue takes aim...,"(Music: ""The Sound of Silence,"" Simon & Garfun...",new york times columnist david pogue take aim ...,David Pogue,"{'neg': 0.198, 'neu': 0.594, 'pos': 0.208, 'co...",0.0772,positive
3,3,Greening the ghetto,2006,2664069,219.0,1116,"['MacArthur grant', 'activism', 'business', 'c...",{1041: '3 stories of local eco-entrepreneurshi...,https://www.ted.com/talks/majora_carter_greeni...,"In an emotionally charged talk, MacArthur-winn...",If you're here today — and I'm very happy that...,emotionally charge talk macarthur win activist...,Majora Carter,"{'neg': 0.201, 'neu': 0.561, 'pos': 0.238, 'co...",0.2732,positive
4,4,Do schools kill creativity?,2006,65051954,4931.0,1164,"['children', 'creativity', 'culture', 'dance',...","{865: 'Bring on the learning revolution!', 173...",https://www.ted.com/talks/sir_ken_robinson_do_...,Sir Ken Robinson makes an entertaining and pro...,Good morning. How are you? (Audience) Good. It...,sir ken robinson make entertaining profoundly ...,Sir Ken Robinson,"{'neg': 0.104, 'neu': 0.425, 'pos': 0.472, 'co...",0.7783,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,4000,"Crisis support for the world, one text away",2020,502934,6.0,690,"['activism', 'data', 'technology', 'mental hea...",{2362: 'How data from a crisis text line is sa...,https://www.ted.com/talks/nancy_lublin_crisis_...,What if we could help people in crisis anytime...,"""I'm 14, and I want to go home."" ""My name is B...",help people crisis anytime simple text message...,Nancy Lublin,"{'neg': 0.14, 'neu': 0.491, 'pos': 0.369, 'com...",0.9517,positive
4001,4001,The dark history of IQ tests,2020,307187,NaN,346,"['TED-Ed', 'education', 'history', 'animation'...",{35386: 'How does the Rorschach inkblot test w...,https://www.ted.com/talks/stefan_c_dombrowski_...,"In 1905, psychologists Alfred Binet and Théodo...","In 1905, psychologists Alfred Binet and Théodo...",psychologist alfred binet simon design test ch...,Stefan C Dombrowski,"{'neg': 0.049, 'neu': 0.826, 'pos': 0.125, 'co...",0.5574,positive
4002,4002,"How ""policing for profit"" undermines your rights",2020,464414,9.0,774,"['society', 'law', 'policy', 'justice system',...","{2406: 'I love being a police officer, but we ...",https://www.ted.com/talks/dick_m_carpenter_ii_...,"Many countries have an active, centuries-old l...",Picture yourself driving down the road tomorro...,country active century old law allow governmen...,Dick M. Carpenter II,"{'neg': 0.206, 'neu': 0.524, 'pos': 0.27, 'com...",0.3400,positive
4003,4003,The electrifying speeches of Sojourner Truth,2020,56582,NaN,257,"['TED-Ed', 'education', 'animation', 'United S...",{20973: 'The breathtaking courage of Harriet T...,https://www.ted.com/talks/daina_ramey_berry_th...,Isabella Baumfree was born into slavery in lat...,"In early 1828, Sojourner Truth approached the ...",isabella baumfree bear slavery late century ne...,Daina Ramey Berry,"{'neg': 0.088, 'neu': 0.75, 'pos': 0.163, 'com...",0.4767,positive
4004,4004,The most important anus in the ocean,2020,0,NaN,281,"['animals', 'TED-Ed', 'animation', 'oceans', '...","{62347: 'The bug that poops candy', 29159: 'In...",https://www.ted.com/talks/cella_wright_the_mos...,Is it a fuzzy sock? An overripe banana? A mold...,Can you guess what you’re looking at? Is it a ...,fuzzy sock overripe banana moldy tube toothpas...,Cella Wright,"{'neg': 0.044, 'neu': 0.956, 'pos': 0.0, 'comp...",-0.3182,negative

In [42]:
export_csv (df)

In [77]:
summary = df.groupby(["speaker"])["sentiment_value"].mean().to_frame().reset_index()#.sort_values()

In [78]:
summary = summary.iloc[0:20]

In [79]:
summary

                      speaker  sentiment_value
0                       BLACK         0.928700
1                   Beardyman        -0.077200
2                        Bono         0.036600
3       British Paraorchestra         0.340000
4                  Crush Club        -0.153100
5                       Dessa         0.963300
6                   Haas&Hahn         0.910000
7                          JR         0.874533
8                      Morley         0.851900
9                     Mundano         0.943200
10                Naturally 7         0.648600
11   Nicole Paris and Ed Cage         0.153100
12                      OK Go         0.827100
13           Raspyni Brothers         0.273200
14                        Rei         0.000000
15                      Rives         0.414233
16         Rodrigo y Gabriela        -0.202300
17                  Sauti Sol        -0.599400
18         Silk Road Ensemble         0.680800
19      Sleepy Man Banjo Boys         0.601000

In [80]:
fig = px.bar(summary, x="sentiment_value", y="speaker", orientation = "h")
fig.update_layout(yaxis={'categoryorder':'total descending'})
fig.show()